wifi_ssid: "REPLACE"
wifi_password: "REPLACE"
adafruit_io_username: "REPLACE"
adafruit_io_key: "REPLACE"
hotspot_password: "REPLACE_WITH_RANDOM"
home_assistant_password: ""
ota_password: "REPLACE_WITH_RANDOM"
