wifi_ssid: "REPLACE"
wifi_password: "REPLACE"
adafruit_io_username: "REPLACE"
adafruit_io_key: "REPLACE"
hotspot_password: "REPLACE_WITH_RANDOM"
ota_password: "REPLACE_WITH_RANDOM"
api_encryption_key: "REPLACE_WITH_RANDOM_32_BYTE_BASE64"
